.nav_height
{
	height:80%;	
}

.nav_bgcolor
{
	background-color:#09F;
}

.nav_textcolor
{
	color:#FFF;
	font-weight:400;

}

.nav-bg-item:hover
{
	box-shadow: inset 0 0 10px 100px rgba(255, 255, 255, 0.1);
	
}


.nav_textcolor:hover
{
	color:#CCC;
	
}

.col-border
{
	border-width:thin;
	border-style:solid;
	
	border-color:#09F;
	
}


.stdata_padding
{
	padding-left:70px;
}

.stnumber_padding
{
	padding-left:40px;
}

.req-num
{
	color:#000;
	font-size:14px;
	font-weight:500;
	
}


.row_bor
{
	border-width:thin;
	border-style:solid;
	border-color:#09F;
	
}

.btn-primary1
{
	
 background-color: #007bff;
color:#fff;
	
}

.btn-success1
{
	  background-color: #28a745;
	  color:#fff;
}


.btn-main
{
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.220rem 0.95rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor:pointer;	
}

.btn-main:focus
{
outline:0;	
}

.btn-email
{
	background-color:#09F;
	color:#FFF;
}


.btn-username
{
	background-color:#000;
	color:#FFF;
}


.btn-phone
{
	background-color:#093;
	color:#FFF;
}